* {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));
    background-repeat: no-repeat;
    min-height: 100vh;
}
.game{
    padding: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 3px solid hsl(246, 11%, 37%);
    border-radius: 10px;
}
.header img{
    width: 100px;
    margin-left: 5px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
}
.score span:first-child{
    font-size: 0.8em;
    color: hsl(229, 64%, 46%);
}
.score span:last-child{
    font-size: 3em;
    color: hsl(229, 25%, 31%);
}
.display{
    border: 1px solid red;
}
.btn-display{
    background-image: url("./assets/images/bg-triangle.svg");
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
.btn-display button{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.btn-display button:nth-child(1){
    border: 10px solid hsl(39, 89%, 49%)
}
.btn-display button:nth-child(2){
    border: 10px solid  hsl(230, 89%, 62%)
}
.btn-display button:nth-child(3){
    border: 10px solid hsl(349, 71%, 52%)
}
