* {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));
    background-repeat: no-repeat;
    min-height: 100vh;
}
.game{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 3px solid hsl(246, 11%, 37%);
    border-radius: 10px;
    width: calc(100% - 40px);
    max-width: 500px;
    justify-self: auto;
}
.header img{
    width: 100px;
    margin-left: 5px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
}
.score span:first-child{
    font-size: 0.8em;
    color: hsl(229, 64%, 46%);
}
.score span:last-child{
    font-size: 3em;
    color: hsl(229, 25%, 31%);
}
.display{
    /*border: 1px solid red;*/
    display: grid;
    place-items: center;
}
.btn-display{
    background-image: url("./assets/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    margin: 70px 0 40px 0;
    max-width: 450px;
}
div.circle{
    background-color: white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 15px solid var(--circle-color);
    display: grid;
    place-items: center;

}
.result-container{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.result-display{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    margin: 70px 0 0 0;
    max-width: 450px;
}
.result-display p{
    margin: 1.2em 0;
}
button.play-again{
    color: hsl(229, 25%, 31%);
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    letter-spacing: 2px;

}
.winner{
    font-size: 3em;
}
button#rules, button.closeModal{
    background-color: inherit;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%, 0.7);
    border-radius: 10px;
    padding: 8px 40px;
    font-weight: bold;
    font-size: 1.05em;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 20px;
}
.modal{
    position: fixed;
    background-color: hsl(0, 0%, 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
}
.modal-content{
    display: grid;
    place-items: center;
    gap: 20px;
    color: hsl(229, 25%, 31%);
}
.modal-content h2{
    font-size: 2.5em;
    /*justify-self: flex-start;*/
}
.attribution, .attribution a{
    color: hsl(0, 0%, 100%, 0.5);
    font-size: 10px;
    text-transform: capitalize;
}
@media(min-width: 600px){

    .modal{
        display: grid;
        place-items: center;
        background-color: hsl(0, 0%, 0%, 0.5);
    }
    .modal-content{
        max-width: 250px;
        background-color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 10px;
        grid-template-areas: "rules close"
                             "image image";
    }
    button.closeModal{
        grid-area: close;
        margin: 0;
        padding-right: 0;
    }
    .modal-content img{
        max-width: 100%;
        grid-area: image;
    }
    .modal-content h2{
        justify-self: flex-start;
    }
    .footer{
        align-self: flex-end;
    }
}